
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!-- Font Awesome -->
    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.css" rel="stylesheet" />
    <!-- MDB -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.js"></script>
    <!-- Google Fonts Roboto -->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css" />
    <!-- Custom styles-->
    <link href="css/styles.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>
<body>

    <!-- Section: Design block -->
    <section>
        <div class="container">
            <div class="row d-flex justify-content-center mt-5">
                <div class="col-lg-9">
                    <div class="card mb-3">
                        <div class="card-body p-5">
                            <h3 class="text-center">Melbourne average daily maximum UV levels by month</h3>
                            <br>
                            <p class="text-center">Hover on the bar chart and get information about Melbourne average daily maximum UV levels.</p>
                            <br>
                            <canvas id="myChart"></canvas>
                            <script>
                                var ctx = document.getElementById('myChart').getContext('2d');
                                var myChart = new Chart(ctx, {
                                    type: 'bar',
                                    data: {
                                        labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
                                        datasets: [{
                                            label: 'Average daily maximum UV levels',
                                            data: ['10', '9', '7', '4', '2', '2', '2', '3', '4', '6', '8', '10'],
                                            backgroundColor: [
                                                'RGBA(198,47,47,0.6)', 'RGBA(198,47,47,0.6)', 'RGBA(255,142,0,0.6)', 'RGBA(255,236,0,0.6)', 'RGBA(4,182,23,0.6)',
                                                'RGBA(4,182,23,0.6)', 'RGBA(4,182,23,0.6)', 'RGBA(255,236,0,0.6)', 'RGBA(255,236,0,0.6)', 'RGBA(255,142,0,0.6)',
                                                'RGBA(198,47,47,0.6)', 'RGBA(198,47,47,0.6)'],
                                            borderColor: [
                                                'RGBA(198,47,47,1)', 'RGBA(198,47,47,1)', 'RGBA(255,142,0,1)', 'RGBA(255,236,0,1)', 'RGBA(4,182,23,1)',
                                                'RGBA(4,182,23,1)', 'RGBA(4,182,23,1)', 'RGBA(255,236,0,1)', 'RGBA(255,236,0,1)', 'RGBA(255,142,0,1)',
                                                'RGBA(198,47,47,1)', 'RGBA(198,47,47,1)'],
                                            borderWidth: 1
                                        }]
                                    },
                                    options: {
                                        scales: {
                                            y: {
                                                beginAtZero: true
                                            }
                                        }
                                    }
                                });

                            </script>
                            <br>
                            <br>
                            <p><img src="~/assets/img/UVLevel2.png" alt="UVrange" style="width:100%;height:50px;"></p>
                            <p class="text-end">Data retriving from: https://wiki.cancer.org.au/skincancerstats/UV_radiation</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>
</html>


